<tr id="teacherInfo">
    <th>老师介绍</th>
    <% _.each(courses, function(course) { %>
    <td class="courseId_<%= course.courseId %>">
        <% if (course.teacherList) { %>
        <% for ( var i; i < course.teacherList.length; i++ ) { %>
        <p><b class="F_green"><%= course.teacherList[i].name %></b><%= course.teacherList[i].intro %></p>
        <% } %>
        <% } %>
    </td>
    <% }); %>
</tr>


<tr id="scheduledTime">
    <th>报名日期</th>
    <% _.each(courses, function(course) { %>
    <td class="courseId_<%= course.courseId %>">至<%= course.cutoffDate %>截止，晚于此日期，您将不再享有此优惠价格</td>
    <% }); %>
</tr>

<!--<a class="cashback">-->
<!--cashback 元-->
<!--<div class="tip">-->
<!--<div class="arrow"></div>-->
<!--<div class="tip_content">-->
<!--用“返现券”预订此课程，可立即返还 cashback 元现金！入学后不进行退学，就可至您的账户里提现。-->
<!--<span class="link howToGetCoupon" style="color:green">如何获得返现券</span>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
        个人资料
<!--<div class="field">-->
<!--<label>性<s></s>别</label>-->
<!--<input id="id_stu" type="radio" name="identify" class="" value="1" <%if(gender==1){%>checked<%}%>>-->
<!--<label class="sex" for="id_stu">学生</label>-->
<!--<input id="id_no_stu" type="radio" name="identify" class="" value="0" <%if(gender==0){%>checked<%}%>>-->
<!--<label class="sex" for="id_no_stu">工作了</label>-->
<!--</div>-->

<div class="field">
    <label>E-mail </label>
    <input class="text" type="text" id="booking_email"/>
                <span id="booking_email_info" class="action"><span class="form_tip"><span
                        class="form_tip_top">(可选)</span><span class="form_tip_bottom"></span></span></span>
</div>
<script>
    new BaseField({
        name: "E-mail",
        fieldId: "booking_email",
        type: "text",
        mandatory: false,
        modelAttr: "email",
        validClass: "success",
        validatorFunction: Utilities.emailValid,
        buildValidatorDiv: Utilities.defaultValidDivBuilder
    })
    //我的页面中修改密码无需进行短信验证
    //    getSmsSuccess: function () {
    //        $("#getAuthCodeNote").html("短信发送成功, 请确认短信。");
    //        $("#getAuthCode").val("发送验证码").addClass("hidden");
    //        setTimeout(function () {
    //            $button.prop("disabled", false).css("background", "");
    //        }, 120000);
    //        $("#gotAuthCode").removeClass("hidden");
    //    },
    //    getSmsError: function (data) {
    //        $("#getAuthCodeNote").html(data.responseJSON ? data.responseJSON : "验证请求失败，请检查网络状态然后重试。").removeClass("hidden");
    //        $("#getAuthCode").prop("disable", false).val("发送验证码").removeClass("hidden").css("background", "");
    //        $("#gotAuthCode").addClass("hidden");
    //    },
</script>

<!--not needed currently 选择是否返现 现在为默认返现-->
<!--<div class="field" id="cashback_box">-->
<!--< if (course.cashback) { >-->
<!--<input type="checkbox" id="booking_useCashback"/>-->

<!--<div class="fleft cashback"><= course.cashback >元-->
<!--<div class="tip" style="left:0;width:350px;">-->
<!--<div class="arrow" style="left:22px"></div>-->
<!--<div class="tip_content">-->
<!--用“返现券”预订此课程，可立即返还<= course.cashback >元现金！-->
<!--入学后不进行退学，就可至您的账户里提现。-->
<!--<span class="link howToGetCoupon" style="color:green">如何获得返现券</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<label for="booking_useCashback" style="font-size:13px;width:70px">使用返现券</label>-->
<!--< } >-->
<!--</div>-->

<div class="zhiye">
    <ul class="clearfix">
        <li><h3>计算机/互联网/通信/电子</h3></li>
        <li title="计算机硬件"><span class="square"></span>计算机硬件</li>
        <li title="计算机软件"><span class="square"></span>计算机软件</li>
        <li title="互联网/电子商务/网游"><span class="square"></span>互联网/电子商务/网游</li>
        <li title="IT-管理" class=""><span class="square"></span>IT-管理</li>
        <li title="IT-品管、技术支持及其它"><span class="square"></span>IT-品管、技术支持及其它</li>
        <li title="通信技术开发及应用"><span class="square"></span>通信技术开发及应用</li>
        <li title="电子/电器/半导体/仪器仪表" class=""><span class="square"></span>电子/电器/半导体/仪器仪表</li>

        <li><h3>销售/客服/技术支持</h3></li>
        <li title="销售管理"><span class="square"></span>销售管理</li>
        <li title="销售人员"><span class="square"></span>销售人员</li>
        <li title="销售行政及商务"><span class="square"></span>销售行政及商务</li>
        <li title="客服及技术支持"><span class="square"></span>客服及技术支持</li>

        <li><h3>会计/金融/银行/保险</h3></li>
        <li title="财务/审计/税务"><span class="square"></span>财务/审计/税务</li>
        <li title="金融/证券/期货/投资"><span class="square"></span>金融/证券/期货/投资</li>
        <li title="银行"><span class="square"></span>银行</li>
        <li title="保险"><span class="square"></span>保险</li>

        <li><h3>生物/制药/医疗/护理</h3></li>
        <li title="生物/制药/医疗器械"><span class="square"></span>生物/制药/医疗器械</li>
        <li title="化工"><span class="square"></span>化工</li>
        <li title="医院/医疗/护理"><span class="square"></span>医院/医疗/护理</li>
    </ul>
    <ul class="clearfix">
        <li><h3>生产/营运/采购/物流</h3></li>
        <li title="生产/营运" class=""><span class="square"></span>生产/营运</li>
        <li title="生产/营运"><span class="square"></span>生产/营运</li>
        <li title="工程/机械/能源"><span class="square"></span>工程/机械/能源</li>
        <li title="汽车制造" class=""><span class="square"></span>汽车制造</li>
        <li title="技工"><span class="square"></span>技工</li>
        <li title="服装/纺织/皮革"><span class="square"></span>服装/纺织/皮革</li>
        <li title="采购" class=""><span class="square"></span>采购</li>
        <li title="贸易"><span class="square"></span>贸易</li>
        <li title="物流/仓储"><span class="square"></span>物流/仓储</li>
        <li title="汽车销售与服务" class=""><span class="square"></span>汽车销售与服务</li>

        <li><h3>广告/市场/媒体/艺术</h3></li>
        <li title="广告"><span class="square"></span>广告</li>
        <li title="公关/媒介"><span class="square"></span>公关/媒介</li>
        <li title="市场/营销"><span class="square"></span>市场/营销</li>
        <li title="影视/媒体"><span class="square"></span>影视/媒体</li>
        <li title="写作/出版/印刷"><span class="square"></span>写作/出版/印刷</li>
        <li title="艺术/设计"><span class="square"></span>艺术/设计</li>

        <li><h3>建筑/房地产</h3></li>
        <li title="建筑装潢/市政建设"><span class="square"></span>建筑装潢/市政建设</li>
        <li title="房地产开发/销售"><span class="square"></span>房地产开发/销售</li>
        <li title="物业管理"><span class="square"></span>物业管理</li>
        <li title="房地产中介"><span class="square"></span>房地产中介</li>
    </ul>
    <ul class="clearfix">
        <li><h3>人事/行政/高级管理</h3></li>
        <li title="人力资源"><span class="square"></span>人力资源</li>
        <li title="高级管理"><span class="square"></span>高级管理</li>
        <li title="行政/后勤"><span class="square"></span>行政/后勤</li>

        <li><h3>咨询/法律/教育/科研</h3></li>
        <li title="咨询/顾问"><span class="square"></span>咨询/顾问</li>
        <li title="律师/法务/合规"><span class="square"></span>律师/法务/合规</li>
        <li title="教师"><span class="square"></span>教师</li>
        <li title="培训"><span class="square"></span>培训</li>
        <li title="科研人员"><span class="square"></span>科研人员</li>

        <li><h3>服务业</h3></li>
        <li title="餐饮/娱乐"><span class="square"></span>餐饮/娱乐</li>
        <li title="酒店/旅游"><span class="square"></span>酒店/旅游</li>
        <li title="美容/健身/体育"><span class="square"></span>美容/健身/体育</li>
        <li title="百货/连锁/零售服务"><span class="square"></span>百货/连锁/零售服务</li>
        <li title="交通运输服务"><span class="square"></span>交通运输服务</li>
        <li title="保安/家政/其他服务"><span class="square"></span>保安/家政/其他服务</li>

        <li><h3>公务员/翻译/其他</h3></li>
        <li title="公务员"><span class="square"></span>公务员</li>
        <li title="翻译"><span class="square"></span>翻译</li>
        <li title="储备干部/培训生/实习生"><span class="square"></span>储备干部/培训生/实习生</li>
        <li title="环保"><span class="square"></span>环保</li>
        <li title="农/林/牧/渔"><span class="square"></span>农/林/牧/渔</li>
    </ul>
</div>
<script type="text/template" id="tpl_banner">
    <!--<div id="visual_container">-->
    <!--<ul class="bjqs">-->
    <!--<li><img width="1960" height="320" src="style/images/banner2.jpg" alt="爱上课，南京精品培训最全的网站"></li>-->
    <!--<li><img width="1960" height="320" src="style/images/banner3.gif" alt="爱上课，值得信赖的第三方平台；用心服务，拒绝虚假"></li>-->
    <!--<li><img width="1960" height="320" src="style/images/banner4.jpg" alt="立即注册，立得800元返现券；邀请好友，更有红包相送"></li>-->
    <!--</ul>-->
    <!--</div>-->
</script>
<!-- in <script type="text/template" id="tpl_courseDetailCompareWidget">-->
<div id="trialButton" class="shiting" style="margin-right:-350px;">
    <div class="shiting_inner">
        <div class="btn">
            <a href="#"><img class="trialFloatingButton" src="style/images/shiting.gif"></a>
        </div>
        <a class="close" href="#">关闭</a>
    </div>
</div>