<tr id="teacherInfo">
    <th>老师介绍</th>
    <% _.each(courses, function(course) { %>
    <td class="courseId_<%= course.courseId %>">
        <% if (course.teacherList) { %>
        <% for ( var i; i < course.teacherList.length; i++ ) { %>
        <p><b class="F_green"><%= course.teacherList[i].name %></b><%= course.teacherList[i].intro %></p>
        <% } %>
        <% } %>
    </td>
    <% }); %>
</tr>


<tr id="scheduledTime">
    <th>报名日期</th>
    <% _.each(courses, function(course) { %>
    <td class="courseId_<%= course.courseId %>">至<%= course.cutoffDate %>截止，晚于此日期，您将不再享有此优惠价格</td>
    <% }); %>
</tr>

<!--<a class="cashback">-->
<!--cashback 元-->
<!--<div class="tip">-->
<!--<div class="arrow"></div>-->
<!--<div class="tip_content">-->
<!--用“返现券”预订此课程，可立即返还 cashback 元现金！入学后不进行退学，就可至您的账户里提现。-->
<!--<span class="link howToGetCoupon" style="color:green">如何获得返现券</span>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
        个人资料
<!--<div class="field">-->
<!--<label>性<s></s>别</label>-->
<!--<input id="id_stu" type="radio" name="identify" class="" value="1" <%if(gender==1){%>checked<%}%>>-->
<!--<label class="sex" for="id_stu">学生</label>-->
<!--<input id="id_no_stu" type="radio" name="identify" class="" value="0" <%if(gender==0){%>checked<%}%>>-->
<!--<label class="sex" for="id_no_stu">工作了</label>-->
<!--</div>-->

<div class="field">
    <label>E-mail </label>
    <input class="text" type="text" id="booking_email"/>
                <span id="booking_email_info" class="action"><span class="form_tip"><span
                        class="form_tip_top">(可选)</span><span class="form_tip_bottom"></span></span></span>
</div>
<script>
    new BaseField({
        name: "E-mail",
        fieldId: "booking_email",
        type: "text",
        mandatory: false,
        modelAttr: "email",
        validClass: "success",
        validatorFunction: Utilities.emailValid,
        buildValidatorDiv: Utilities.defaultValidDivBuilder
    })
</script>
