@charset "utf-8";
/* CSS Document */

#compareView .title{height:42px; line-height:42px; border-top:2px  solid #128d56; border-left:1px solid #ccc; border-right:1px solid #ccc;}
#compareView .title span{float:left; font-size:16px; font-weight:bold; font-family:微软雅黑; color:#128d56; padding-left:24px; margin-left:26px; cursor:pointer;}
#compareView .title span.up{ background:url(../images/up.png) no-repeat left center;}
#compareView .title span.down{ background:url(../images/down.png) no-repeat left center;}

#compareView .title a{ float:right; margin-right:20px;}

#compareView table{ border-top:1px solid #ccc; border-right:1px solid #ccc;}
#compareView table th,#compareView table td{ border-left:1px solid #ccc; border-bottom:1px solid #ccc; padding:15px;}
#compareView table th{ vertical-align:top; background:#ecfff7;  font-weight:normal; color:#000;}
#compareView table td{color:#666; line-height:22px;}

#compareView table td h2{font-size:14px;}
#compareView table td .btn{}
#compareView table td .set{width:95px; height:22px; margin-top:20px;}
#compareView table td .set a{ height:22px; text-indent:-9999px; display:inline-block; background:url(../images/set.png) no-repeat;}
#compareView table td .set a.pre,#compareView table td .set a.next{width:30px; height:22px;}
#compareView table td .set a.pre{ background-position:0 -22px;}
#compareView table td .set a.delete{width:35px; background-position:-30px 0;}
#compareView table td .set a.next{ background-position:-65px -22px;}
#compareView table td .set a.pre-disabled{ background-position:0 0;}
#compareView table td .set a.next-disabled{ background-position:-65px 0;}

#compareView table td .price{float:left; font-weight:bold; margin-right:10px;}
#compareView table td .cashback{float:left;}

#compareView .stickyheader {background-color:#eeeeee;}