@charset "utf-8";
/* CSS Document */

/*左栏*/
.courseBrief{float:left; width:250px; font-size:12px;}
.courseBrief .row1{ padding-bottom:10px; border-bottom:1px dotted #ccc;}
.courseBrief .row1 .fleft{ margin-right:10px;}
.courseBrief .row1 .fright{width:150px;}
.courseBrief .row1 .fright .title{font-size:14px; color:#128d56; font-weight:bold; margin-bottom:10px;}
.courseBrief .row1 .fright .desc{ line-height:24px; color:#666;}

.courseBrief .row2{ padding:10px 0; line-height:24px; color:#000; border-bottom:1px dotted #ccc;}
.courseBrief .row2 .extra{ margin:15px 0 10px; padding-left:20px; color:#128d56; background:url(../images/icon.png) no-repeat 0 -324px;}

.courseBrief .row3{border-bottom:1px dotted #ccc; padding:10px 0 10px 32px; background:url(../images/icon.png) no-repeat 0 -355px; line-height:24px;}

.courseBrief .row4{ padding:10px 0; line-height:24px;}
.courseBrief .row4 .title{ padding-left:20px; background:url(../images/icon.png) no-repeat 0 -469px; font-size:14px;}
.courseBrief .row4 .link{ padding-left:20px;}

.courseBrief .section label{vertical-align: top; display: inline-block;}
.courseBrief .section div{ display: inline-block;}

/*右栏*/
.panel {float:right; width:730px; border:3px solid #128d56; color:#000;}
.panel .header{height:52px; line-height:52px; padding-left:20px; background:#128d56; font-size:18px; color:#fff;}
.panel .title{border-bottom:1px solid #cccccc; height:40px; line-height:40px; margin:10px; padding:0 10px;}
.panel .title h3{float:left; font-size:14px; color:#128d56; }
.panel .title .fright{ font-size:12px; padding-left:20px; color:#128d56; background:url(../images/icon.png) no-repeat 0 -491px;}

.panel .row1{ margin:10px 10px 20px;}
.panel .field { margin:18px 0; font-size:14px;}
.panel .field label{display:inline-block; width:100px; text-align:right; margin-right:20px;}
.panel .field select{ padding:2px; border:1px solid #ccc; width:112px;}
.panel .field span{ color:#666; font-size:12px;}
.panel .field b.price{color:#ff5500;}

.panel .field .cashback{margin-right:10px;margin-left:8px;}
.panel .field #booking_useCashback{margin-left:128px; float:left;}
.panel .field  .login_reg1 {font-size:12px; line-height:18px;}

.panel .loginbox{ position:relative;border:1px solid #ccc; margin-left:128px;}
.panel .loginbox_inner{ padding:15px 20px; font-size:14px;}
.panel .loginbox_inner input.text{border:1px solid #ccc; width:164px; margin-right:15px; padding-left:10px; background:#eaefed; height:28px; line-height:28px\9;}
.panel .loginbox_inner label{color:#128d56;}
.panel .loginbox .btns{ margin-top:10px;}
.panel .loginbox .btns a{font-size:12px; color:#128d56; margin-right:15px; margin-left:15px;}
.panel #booking_login{width:100px; height:30px; margin-left:50px; color:#fff; font-size:14px; border:none; cursor:pointer; background:#128d56;}
.panel .close{ position:absolute; top:10px; right:10px; width:11px; height:11px; background:url(../images/icon.png) no-repeat 0 -530px; text-indent:-9999px; cursor:pointer;}

.panel .row2{ margin:10px 10px 40px;}
.panel .row2 input.text{width:250px;}
.panel .row2 .req{color:#ff5500;}
.panel #booking_date{width:100px;}
.panel .row3{border-top:1px dotted #ccc; text-align:center; padding:20px 0 50px;}
.panel .row3 .desc{ color:#666; margin-left:10px;}

/*订单提交成功*/
#booking_submitted{ position:relative; border:3px solid #128d56; font-size:14px;}
#booking_submitted .row1{ border-bottom:1px solid #cccccc; padding:20px 50px;}
#booking_submitted .row1 .title{ font-size:24px; color:#128d56;padding-left:40px; background:url(../images/icon.png) no-repeat 0 -580px;}
#booking_submitted .row1 .detail{margin-top:10px; margin-left:40px;}
#viewBooking{width:100px; height:30px; line-height:30px\9; background:#128d56; color:#fff; cursor:pointer; border:none;}
#printBooking{ position:absolute; top:20px; right:20px; padding:5px 0 5px 23px; background:url(../images/icon.png) no-repeat 0 -639px; cursor:pointer;}

#booking_submitted .row2{ padding-left:88px; line-height:42px; margin-top:20px; border-bottom:1px dotted #ccc;}
#booking_submitted .row2 .price{color:#ff5500; font-size:18px;}
#booking_submitted .row2 span{color:#666;}
#booking_submitted .row2 .extra{color:#ff5500; margin-top:30px;}

#booking_submitted .row3{ padding:10px 20px 20px 88px; line-height:42px;}
#booking_submitted .row3 .bonus{float:left; padding-left:23px; background:url(../images/icon.png) no-repeat 0 -675px;}
#booking_submitted .row3 .viewMore{float:right; color:#128d56; cursor:pointer;}

/*step*/
.step ol{overflow: hidden; zoom: 1;}
.step li {float: left; width:160px; text-align: center;}
.step .step_name { padding: 3px 0; color: #595757; font-size:14px; margin-bottom:5px;}
.step .step_node{background: url(../images/step.png) no-repeat 50% -95px;}
.step .step_done .step_name,.step .step_active .step_name{color:#f1a526;}
.step .step_done .step_node{background-position: 50% 1px;}
.step .step_active .step_node {background-position: 50% -191px;}
.step .step_first .step_done .step_node {background-position: 50% -159px;}
.step .step_first .step_done .step_active {background-position: 50% -159px;}
.step .step_first .step_active .step_node {background-position: 50% -31px;}
.step .step_node {height: 32px;}
.step .step_last .step_node {background-position: 50% -127px;}




