@charset "utf-8";
/* CSS Document */
.sitemap{color:#128d56;}
.courseDetail .course_content{ line-height:30px;}

.courseDetail .banner{border:1px solid #ccc;}

.courseDetail .banner .row1{ padding:15px; border-bottom:1px dotted #ccc;}
.courseDetail .banner .row1 dt{font-size:24px; font-family:"Microsoft Yahei"; color:#128d56; margin-bottom:10px;}
.courseDetail .banner .row1 dt span{ margin-left:20px;}

.courseDetail .banner .row1 .col1{float:left; width:670px;}
.courseDetail .banner .row1 .col2{float:left; width:125px; margin-top:5px;}
.courseDetail .banner .row1 .col3{float:right; margin-top:5px;}

.courseDetail .banner .price{ font-size:26px;}
.courseDetail .banner .price .sign{ color:#333;}
.courseDetail .banner .cashback{ margin-left:18px; text-align: center;}
.courseDetail .banner .cashback em{ margin-left:18px;}

.courseDetail .banner .row2 {padding:15px;}
 
 /*相册*/
.courseDetail .banner .gallary{float:left; width:626px;}
.courseDetail .banner .small_pic{float:left;}
.courseDetail .banner .small_pic .top{ overflow:hidden;}
.courseDetail .banner .small_pic .bottom{overflow:hidden;}
.courseDetail .pic1,
.courseDetail .pic2,
.courseDetail .pic3,
.courseDetail .pic4 {
    float:left;
    margin-right:10px;
    height: 106px;
    overflow: hidden;
}
.courseDetail .pic1{ width: 116px; }
.courseDetail .pic2{ width: 190px; }
.courseDetail .pic3,.courseDetail .pic4{ width: 153px;}
.courseDetail .banner .big_pic{float:right; overflow:hidden; height:217px; width:300px;}
 /*地图*/
.courseDetail .banner .row2 .course_map{float:right; width:328px; border:1px solid #ccc;}
.courseDetail .banner .row2 .course_map .addr{ line-height:30px; color:#128d56; padding-left:10px; border-bottom:1px solid #ccc;}
.courseDetail .banner .row2 .course_map .map{width:328px; height:185px;}
 /*公用*/
.courseDetail .courseMain{ position:relative; border:1px solid #ccc;}
.courseDetail .courseMain .course_content{padding:15px;}
.courseDetail .courseMain .course_content dl{padding-bottom:30px;}
.courseDetail .courseMain .course_content dt{color:#128d56; font-weight:bold; padding-left:10px; line-height:34px; background:#d8eae2; margin-bottom:10px;}
.courseDetail .courseMain .course_content dd{padding-left:10px;}
.courseDetail .courseMain .course_content label{float:left; width:100px; text-align:right; margin-right:5px;font-weight: bold;}
.courseDetail .courseMain .course_content label:before {content: '【';}
.courseDetail .courseMain .course_content label:after {content: '】';}
/*富文本编辑器生成的表格*/

.courseDetail .course_content table{
    width: 100%;
    line-height: 24px;
}
.courseDetail .course_content table td{
    padding: 5px;
}

/*子选择器的兼容性*/
.courseDetail .courseMain .course_content dd>div{float:left; width:800px;}

 /*教师信息*/
.courseDetail .courseMain .teacherInfo{float:left; width:360px; border:1px solid #d1d1d1; margin-right:20px;}
.courseDetail .courseMain .teacherInfo div{margin:5px 10px;}
.courseDetail .courseMain .teacherInfo div.name{color:#128d56;}
.courseDetail .courseMain .teacherInfo img{
    margin: 5px 10px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    float: right;
}
.courseDetail .courseMain .teacherInfo p{ margin:5px 10px 0; font-size:12px; line-height:20px;}
.courseDetail .courseMain .teacherInfo .teacherPhoto{float:right;}

.courseDetail .stickyHeader {
	position: fixed;
	top: 0;
	width: 978px;
	padding-top: 3px;
	margin-top: 0;
}


.courseDetail  .shiting{ position:fixed; top:66px; right:6px; width:290px; height:140px;  z-index:9999;}
.courseDetail  .shiting_inner{ padding:10px; padding-top:20px; text-align:center;}
.courseDetail  .shiting .btn{ margin-top:10px;}
.courseDetail  .shiting p{ margin-top:10px;}
.courseDetail  .shiting  .close { position:absolute; top:5px; right:5px; width:27px; height:27px; background:url(../images/shiting_close.png) no-repeat; text-indent:-9999px;}

/*对比框*/
.courseDetail  .compare{ position: fixed; top:250px; right:50px; width:250px; border:1px solid #cccccc; border-top:2px solid #128d56; background:#fff; line-height:14px;}
.courseDetail  .compare_button{ position:absolute; top:-2px; right:-50px; width:50px; height:40px;  padding-top:10px; background:#128d56; text-align:center; color:#fff; line-height:16px;}
.courseDetail  .compare .compare_items{}
.courseDetail  .compare .compareEntry{ position:relative; padding:15px 35px 10px 10px; border-bottom:1px dotted #ccc; font-size:12px;}
.courseDetail  .compare .compareEntry:hover{background:#e2ece7;}
.courseDetail  .compare .compareEntry .desc a,.compareEntry .desc a:visited{ color:#128d56;}
.courseDetail  .compare .compareEntry .price{ padding-left:5px; margin-top:10px; color:#ff5500;}
.courseDetail  .compare .compareEntry .price .sign{color:#333333;}
.courseDetail  .compare .compareEntry .remove{ position:absolute; right:10px; top:15px; width:20px; height:20px; background:url(../images/close3.png) no-repeat; cursor:pointer;}
.courseDetail  .compare .compareEntry .remove:hover{ background:url(../images/close3_hover.png) no-repeat;}
.courseDetail  .compare .btns{ text-align:center; margin:10px auto;}
.courseDetail  .compare #compare{width:215px; height:32px; border:none; font-size:14px; font-family:"Microsoft Yahei"; color:#fff; cursor:pointer; background:url(../images/compare.png) no-repeat;}


/*教学特色等的图片*/
#content_etc .item,
#content_service .item{overflow: hidden;float:left; margin-right:10px; margin-bottom:10px; width:120px; height:120px; background:#128d56 url(../images/c_detail_icons.png) no-repeat;}
#content_etc .item div,
#content_service .item .item_inner{display:none; padding:10px; line-height:30px; color:#fff;}
#content_etc .item:hover,
#content_service .item:hover{ background:#2e333f;}
#content_etc .item:hover .item_inner,
#content_service .item:hover div.item_inner{display: block; text-align: center;}

#content_etc .download{ background-position:0 0;}
#content_etc .tk{ background-position:0 -120px;}
#content_etc .zlbz{ background-position:0 -240px;}
#content_etc .jljh{ background-position:0 -360px;}
#content_etc .jdcp{ background-position:0 -480px;}
#content_etc .khdy{ background-position:0 -600px;}
#content_etc .khzy{ background-position:0 -720px;}
#content_etc .zypg{ background-position:0 -840px;}
#content_etc .zypg div{ line-height:24px!important;}

#content_service .qybg{ background-position:0 -960px;}
#content_service .jyzs{ background-position:0 -1080px;}
#content_service .khhd{ background-position:0 -1200px;}
#content_service .zsfw{ background-position:0 -1320px;}

/* Basic jQuery Slider style */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}

/* slider my styles */
#banner-slide{}
ul.bjqs-controls.v-centered li a{
    width: 20px;
    height: 40px;
    display:block;
    color:#d3d3d3;
    text-decoration: none;
    background: url(../images/pre_next.png) no-repeat;
}
/*left and right controls*/
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-prev a{background-position: 0 0;left:10px;}
ul.bjqs-controls.v-centered li.bjqs-prev a:hover{ background-position:0 -40px;}
ul.bjqs-controls.v-centered li.bjqs-next a{background-position: -42px 0;right:10px;}
ul.bjqs-controls.v-centered li.bjqs-next a:hover{ background-position:-42px -40px;}
/*page buttons*/
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;position: absolute;bottom: 0;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{
    text-indent: -9999px;
    display:inline-block;
    width: 15px;
    height: 8px;
    background:#333333;
    opacity: 0.9;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#77000000',endColorstr='#77000000');
    margin:0 3px;
    -webkit-transition: all 0.65s;
    -moz-transition: all 0.65s;
    -ms-transition: all 0.65s;
    -o-transition: all 0.65s;
    transition: all 0.65s;
    border-radius: 1px;
}
ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
    background: #128d56;
}
ol.bjqs-markers li.active-marker a{
     width: 30px;
}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}