@charset "utf-8";
/* CSS Document */
.sitemap{color:#128d56;}
.courseDetail .course_content{ line-height:30px;}

.courseDetail .banner{border:1px solid #ccc;}

.courseDetail .banner .row1{ padding:15px; border-bottom:1px dotted #ccc;}
.courseDetail .banner .row1 dt{font-size:24px; font-family:微软雅黑; color:#128d56; margin-bottom:10px;}
.courseDetail .banner .row1 dt span{ margin-left:20px;}

.courseDetail .banner .row1 .col1{float:left; width:680px;}
.courseDetail .banner .row1 .col2{float:left; width:125px; margin-top:5px;}
.courseDetail .banner .row1 .col3{float:right; margin-top:5px;}

.courseDetail .banner .price{ font-size:26px;}
.courseDetail .banner .price .sign{ color:#333;}
.courseDetail .banner .cashback{ margin-left:18px; text-align: center;}
.courseDetail .banner .cashback em{ margin-left:18px;}

.courseDetail .banner .row2 {padding:15px;}
 
 /*相册*/
.courseDetail .banner .row2 .gallary{float:left; width:626px;}
.courseDetail .banner .row2 .small_pic{float:left;}
.courseDetail .banner .row2 .big_pic{float:right; overflow:hidden; height:217px; width:300px;}
.courseDetail .banner .row2 .small_pic .top{ overflow:hidden;}
.courseDetail .banner .row2 .small_pic .bottom{overflow:hidden;}
.courseDetail .banner .row2 .small_pic .top .pic1,
.courseDetail .banner .row2 .small_pic .top .pic2,
.courseDetail .banner .row2 .small_pic .bottom .pic3,
.courseDetail .banner .row2 .small_pic .bottom .pic4{float:left; margin-right:10px;}
 
 /*地图*/
.courseDetail .banner .row2 .course_map{float:right; width:328px; border:1px solid #ccc;}
.courseDetail .banner .row2 .course_map .addr{ line-height:30px; color:#128d56; padding-left:10px; border-bottom:1px solid #ccc;}
.courseDetail .banner .row2 .course_map .map{width:328px; height:185px;}
 /*公用*/
.courseDetail .courseMain{ position:relative; border:1px solid #ccc;}
.courseDetail .courseMain .course_content{padding:15px;}
.courseDetail .courseMain .course_content dl{padding-bottom:30px;}
.courseDetail .courseMain .course_content dt{color:#128d56; font-weight:bold; padding-left:10px; line-height:34px; background:#d8eae2; margin-bottom:10px;}
.courseDetail .courseMain .course_content dd{padding-left:10px;}
.courseDetail .courseMain .course_content label{float:left; width:80px; text-align:right; margin-right:10px;}
.courseDetail .courseMain .course_content dd p{float:left; width:800px;}

 /*教师信息*/
.courseDetail .courseMain .teacherInfo{float:left; width:360px; border:1px solid #d1d1d1; margin-right:20px;}
.courseDetail .courseMain .teacherInfo div{margin:5px 10px;}
.courseDetail .courseMain .teacherInfo div.name{color:#128d56;}
.courseDetail .courseMain .teacherInfo p{ margin:5px 10px 0; font-size:12px; line-height:20px;}
.courseDetail .courseMain .teacherInfo .teacherPhoto{float:right;}
 
 /*教学信息--教学大纲*/
.courseDetail .courseMain #content_teaching dd.course_syllabus div{ padding-left:80px;}

.courseDetail .stickyHeader {
	position: fixed;
	top: 0px;
	width: 978px;
	padding-top: 3px;
	margin-top: 0px;
}


.courseDetail  .shiting{ position:fixed; top:66px; right:6px; width:290px; height:140px;  z-index:9999;}
.courseDetail  .shiting_inner{ padding:10px; padding-top:20px; text-align:center;}
.courseDetail  .shiting .btn{ margin-top:10px;}
.courseDetail  .shiting p{ margin-top:10px;}
.courseDetail  .shiting  .close { position:absolute; top:5px; right:5px; width:27px; height:27px; background:url(../images/shiting_close.png) no-repeat; text-indent:-9999px;}

/*对比框*/
.courseDetail  .compare{ position: fixed; top:250px; right:50px; width:250px; border:1px solid #cccccc; border-top:2px solid #128d56; background:#fff; line-height:14px;}
.courseDetail  .compare_button{ position:absolute; top:-2px; right:-50px; width:50px; height:40px;  padding-top:10px; background:#128d56; text-align:center; color:#fff; line-height:16px;}
.courseDetail  .compare .compare_items{}
.courseDetail  .compare .compareEntry{ position:relative; padding:15px 35px 10px 10px; border-bottom:1px dotted #ccc; font-size:12px;}
.courseDetail  .compare .compareEntry:hover{background:#e2ece7;}
.courseDetail  .compare .compareEntry .desc a,.compareEntry .desc a:visited{ color:#128d56;}
.courseDetail  .compare .compareEntry .price{ padding-left:5px; margin-top:10px; color:#ff5500;}
.courseDetail  .compare .compareEntry .price .sign{color:#333333;}
.courseDetail  .compare .compareEntry .remove{ position:absolute; right:10px; top:15px; width:20px; height:20px; background:url(../images/close3.png) no-repeat; cursor:pointer;}
.courseDetail  .compare .compareEntry .remove:hover{ background:url(../images/close3_hover.png) no-repeat;}
.courseDetail  .compare .btns{ text-align:center; margin:10px auto;}
.courseDetail  .compare #compare{width:215px; height:32px; border:none; font-size:14px; font-family:微软雅黑; color:#fff; cursor:pointer; background:url(../images/compare.png) no-repeat;}

