@charset "utf-8";
/* CSS Document */

table{border-top:1px solid #ccc; border-right:1px solid #ccc;border-collapse: collapse}
table td{
    border-bottom:1px solid #ccc; border-left:1px solid #ccc;
    height:32px; line-height:20px; text-align:center; font-size:12px;}
table thead td{background:#e6e6e7;height: 30px;}
table tbody td.col2{ color:#ff5500;}
table td.col4{padding-left:20px;}
table td.col4 span{padding:2px; background:#ff5500; color:#fff; margin-left:5px;}
table td.col5 span{ padding-left:25px; background:url(../images/icon.png) no-repeat left -306px; color:#128d56;}
table td.col5 input{width:60px; height:24px; background:#128d56; border:none; color:#fff; font-size:12px; margin-top:3px; cursor:pointer;}
/*TODO 有空了把上面这段删掉*/
/**********左栏**********/
#mypage_sidebar{float:left; width:198px; border:1px solid #cccccc;}
#mypage_sidebar .mypage_sidebar_title{ height:50px; line-height:50px; font-weight:bold; color:#fff; padding-left:35px; background:#128d56 url(../images/icon.png) no-repeat 15px 16px;}

/*头像*/
#mypage_sidebar #mypage_avatar{width:150px; margin:20px auto 0;}
#mypage_sidebar #mypage_avatar p{ margin-top:5px;}
#mypage_sidebar #mypage_info{width:150px; margin:10px auto 30px; font-size:12px; line-height:20px;}
#mypage_sidebar .phone{ padding-left:20px; background:url(../images/icon.png) no-repeat 0 -117px;}
#mypage_sidebar .email{ padding-left:20px; background:url(../images/icon.png) no-repeat 0 -143px;}

#mypage_sidebar .mypage_sidebar_sectionTitle{ height:38px; line-height:38px; background:#efefef url(../images/icon.png) no-repeat 15px -22px; padding-left:35px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
#mypage_sidebar .p3 .mypage_sidebar_sectionTitle{ background-position:15px -50px;}
#mypage_sidebar .p4 .mypage_sidebar_sectionTitle{ background-position:15px -80px;}
#mypage_sidebar .p2 .mypage_sidebar_sectionContent,
#mypage_sidebar .p3 .mypage_sidebar_sectionContent,
#mypage_sidebar .p4 .mypage_sidebar_sectionContent{ padding:10px 0 25px 35px; line-height:30px;}

#mypage_sidebar .mypage_sidebar_sectionContent div{ cursor:pointer;}
#mypage_sidebar .mypage_sidebar_sectionContent .active{ color:#128d56; font-weight:bold;}

/**********右栏**********/
#mypage_content{float:right; width:778px;}
#mypage_content.mypage_min_height{min-height: 789px;}
#mypage_content.mypage_min_height1{min-height:664px;}
#mypage_content .title{ padding-left:20px; height: 40px; line-height: 40px; border:1px solid #ccc;}

#mypage_content .mypage_content_inner{ padding:20px;border:1px solid #ccc;}


/*个人中心首页*/
#mypage_content #walletSummary{ width:780px; height:109px; line-height:109px; background:url(../images/walletSummary.png) no-repeat;}
#mypage_content #walletSummary .line{float:left; width:1px; height:109px; background:url(../images/line.png) no-repeat center;}
#mypage_content .summaryItem1,
.summaryItem2,
.summaryItem3{float:left; width:220px; text-align:center; padding-left:39px; font-size:18px; }
#mypage_content .summaryItem1{ background: url(../images/summaryItem1.png) no-repeat 56px center;}
#mypage_content .summaryItem2{ background: url(../images/summaryItem2.png) no-repeat 29px center;}
#mypage_content .summaryItem3{ background: url(../images/summaryItem3.png) no-repeat 64px center;}



/*订单列表的单条数据 rewritten by Jet MD后面还有冲突的 TM后面有空了再改*/
#mypage_content table.table-clean thead tr td{
    padding: 0;
    font-size: 14px;
    font-weight: bold;/*尼玛顺便就在这加点head的样式了 你妹的好好样式不加 非要加背景色*/
    background: none;
}/*md这是为了把后面的样式覆盖掉 尼玛优先级够高了吧 加尼玛的背景色啊*/
tr.bookingEntry{height:105px; border-bottom:1px solid #cccccc;}
tr.bookingEntry:hover{ background:#e8f2ed;}
tr.bookingEntry:last-child{border-bottom:none;}

tr.groupBuyBookingEntry{ cursor: pointer}
tr.groupBuyBookingEntry:hover{ background:#e8f2ed;}

.bookingEntry td{
    line-height: 20px;/*尼玛又要覆盖上面的样式*/
    text-align: center;
    border-left: 1px solid #ddd;/*尼玛border一会左一会儿右的!*/
    padding: 5px 10px;
    overflow: hidden;
    position: relative;
}

thead tr.bookingEntry{height:45px;}
thead tr.bookingEntry td.detail{text-align: center}
/*all 4 tds*/
.bookingEntry td.date{ width:80px;}
.bookingEntry td.detail{width:360px; text-align: left; }
.bookingEntry td.payType{width:120px; font-size:12px; color: #666;}
.bookingEntry td.status{width:138px;}
.bookingEntry td.status .status{font-size: 14px;color:#333333}
.bookingEntry td.status .status span{display: inline-block;vertical-align: text-bottom;height: 22px;line-height: 22px;}/*状态的文字*/
.bookingEntry td.status .operate{color:#128d56}/*取消订单等操作文字*/
.bookingEntry td.status .operate:hover{color:#114d56}
/*td date*/
.bookingEntry td.date .day{font: 24px Tahoma,Helvetica,sans-serif;font-weight: bold;}
/*td detail*/
.bookingEntry td.detail .img-logo{ position: absolute; left:10px; top:17px; }
.bookingEntry td.detail h3,.bookingEntry td.detail p{
    padding:0 5px;
    margin: 3px 0 3px 75px;
    width: 283px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bookingEntry td.detail .price{ font-size: 17px;
    font-family: SimSun, serif;
    font-weight: bold;}
.bookingEntry td.detail .address{color: #888; border-bottom: 1px dotted #ccc;}
.bookingEntry td.detail h3{ font-weight:normal; font-size:14px;}

/*td status 状态的图标*/
.icon-status {
    height:22px;width:22px;
    display: inline-block;
    vertical-align: text-bottom;
    background:url(../images/icon.png) no-repeat;
}
.icon-status.pending{background-position: 0 -190px;}
.icon-status.confirmed{background-position:  0 -226px;}
.icon-status.info{background-position: 0 -264px;}
.icon-status.canceled{background-position: 0 -759px;}
/*rewritten end */

/*订单详情页*/
#mypage_content .row0{border-bottom:1px dotted #ccc; padding:10px 25px; line-height:35px;}
#mypage_content .row0 label{ font-weight:bold;}
#mypage_content .row0 label s{ margin:0 8px;}
#mypage_content .row0 span{ color:#666;}
#mypage_content .row0 .price{font-size: 18px; color: #ff5500; padding-top: 32px;}
#mypage_content .row0 .price label,.row0 .price .sign{color:#333;}

#mypage_content .row1{ padding:20px; border-bottom:1px dotted #ccc;}
#mypage_content #process{ padding:25px 0 40px; margin-left:18px;}
#mypage_content #process .node,#process .proce{float:left;position:relative;height:13px;background-image:url(../images/bg_state.jpg);background-repeat:no-repeat;}
#mypage_content #process .node{width:13px;}
#mypage_content #process .proce{width:130px;border:solid #fff;border-width:0 5px;}
#process .node.wait{background-position:-150px -40px;}
#process .node.ready{background-position:-150px 0;}
#process .node.singular{background-position:-150px -60px;}
#process .proce.wait{background-position:0 -40px;}
#process .proce.doing{background-position:0 -20px;color:#360;}
#process .proce.ready{background-position:0 0;}
#process .node p{width:100px; margin-top:-20px; font-size:12px; margin-left:-17px;}
#mypage_content .ready p{color:#128d56;}
#mypage_content .explain { padding-left:20px;}
#mypage_content .explain span{ margin-right:10px; font-size:12px; color:#666; line-height:26px;}
#mypage_content .explain .active span{ color:#128d56;}

#mypage_content .row2{ padding:20px;  border-bottom:1px dotted #ccc; line-height:32px;}
#mypage_content .row2 h3{font-size:24px; color:#128d56; font-weight:normal; margin-bottom:10px;}
#mypage_content .row2 .fleft{width:300px; margin-right:20px;}
#mypage_content .row2 p label{color:#666;width: 70px;
    display: inline-block;}

#mypage_content .row3{padding:20px; border-bottom:1px dotted #ccc; line-height:36px;}
#mypage_content .row3 h3{ color:#333;}
#mypage_content .row3 .fleft{width:300px; margin-right:20px;}
#mypage_content .row3 p label{color:#666;}

#mypage_content .row4{padding:20px;  border-bottom:1px dotted #ccc; line-height:36px;}
#mypage_content .row4 h3{color:#333;}
#mypage_content .row4 .fleft{ margin-right:50px;}
#mypage_content .row4 p label{color:#666;}
#mypage_content .print { padding-right:20px; font-size:12px; text-align:right; margin-top:10px;}
#mypage_content #printBooking {
    width: 49px;
    float: right;
    position: relative !important;
    top:0;
}
#mypage_content .btns{ margin:10px 0 20px; text-align:center;min-height: 30px;}
#mypage_content .btns input{ margin-right:30px;}


/*暂无数据*/
#mypage_content .no_data{ text-align: left;
    width: 400px;margin:40px auto 40px; padding-left:60px; background:url(../images/no_data.png) no-repeat left center;}
#mypage_content .no_data div{ padding:12px 0 12px; font-size:24px; color:#128d56;}

#mypage_content #bookingSummary .no_data{ width:333px; margin-left:auto; margin-right:auto;}

#mypage_content #bookingNavigator{margin-bottom: 10px;}

/*消除bookingSummary td 的背景色*/
#bookingSummary td{background: none;}

/*表单样式*/
#mypage_content .form_style .field{ margin:20px 0;}
#mypage_content .form_style label{display: inline-block; text-align: right;margin-right: 20px;}
#mypage_content .form_style label s{ margin:0 13px;}
#mypage_content .form_style span.instr{color:#666; margin-left:20px; font-size:12px;}

/*个人设置*/
#mypage_content .my_info_title{ height:35px; line-height:35px; background:#d0e8dd;}
#mypage_content .my_info_title b { float:left; padding-left:20px;}
#mypage_content .my_info_title a {float:right; padding-right:20px; font-size:12px;}
#mypage_content .my_info label{ margin-left:22px;}
#mypage_content .my_info input.text{width:250px;}
#mypage_content .my_info .btn{ margin-left:105px; margin-top:30px;}
#mypage_content .my_info .btn .btn_W{ margin-left:20px;}

/*sex label*/
#mypage_content .my_info .sex{margin-left: 0;}

/*修改密码*/
#mypage_content .password label{width:60px; text-align:right;}
#mypage_content .password .field input.text{width:250px;}
#mypage_content .password .btn{ margin-top:30px;  margin-left:86px;}
#mypage_content .password .btn .btn_O{ margin-right:30px;}
#mypage_content .password span.instr{ margin-left:0;}

/*消费券*/
#mypage_content .coupons_help_title{padding-left:30px; font-weight:normal; height:35px; line-height:35px; font-size:18px; color:#128d56; background:url(../images/icon_wen.png) no-repeat left center;}
#mypage_content .coupons_help_title span{color:#ff5500;}

#mypage_content .coupons_help1 {height:105px; font-size:12px; background:url(../images/coupons_help1.gif) no-repeat;}
#mypage_content .coupons_help2 {height:90px; font-size:12px; background:url(../images/coupons_help2.gif) no-repeat;}
#mypage_content .coupons_help2 dd img{vertical-align:-3px;}

#mypage_content .coupons_help dl{float:left; width:215px; margin-top:10px;}
#mypage_content .coupons_help dl dt{float:left; width:30px; font-size:52px; color:#128d56; margin-left:20px; line-height:41px; margin-right:5px;}
#mypage_content .coupons_help dl dd{float:left; width:150px;line-height:20px; color:#666;}
#mypage_content .coupons_help dl dd h3{font-size:14px; color:#128d56; margin-bottom:5px;}
#mypage_content .coupons_help dl dd a.F_green{ text-decoration:underline;}
#mypage_content .coupons_help dl.col2{width:290px;}
#mypage_content .coupons_help dl.col2 dd{width:230px; }

#mypage_content .coupons .no_data{ margin:30px 0 0 20px;}
#mypage_content .coupons .no_data input{width:80px; height:30px; background:#128d56; color:#fff; font-size:14px; cursor:pointer; border:none; margin:0 5px;}

#mypage_content /*现金账户和积分*/
#mypage_content .total{ padding-left:20px; height:72px; line-height:72px; border-bottom:1px dotted #ccc;}
#mypage_content .total img{margin-right:5px; vertical-align:-7px;}
#mypage_content .total b{font-size:18px; font-family:Arial, Helvetica, sans-serif;}
#mypage_content .total span{font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}

#mypage_content .in_built{ height:144px; line-height:144px; color:#128d56; margin-top:20px; padding-left:160px; font-size:16px; background:url(../images/in_built.jpg) no-repeat left center;}

/*邀请好友*/
#mypage_content .invitation{}
#mypage_content .invitation h3{font-size:14px; color:#128d56; margin-bottom:10px;}
#mypage_content .invitation textarea{float:left; margin-right:10px; width:500px; height:80px; border:1px solid #ccc; padding:10px; line-height:24px; font-size:14px; color:#666;white-space: nowrap;}
#mypage_content .invitation input.btn_copy{width:90px; height:72px; background:#128d56; color:#fff; border:none; font-size:14px; cursor:pointer;}
#mypage_content .invitation .invitation_tip{background:#f2f2f2; padding:15px; line-height:24px;}
#mypage_content .invitation .invitation_tip dt{color:#128d56; font-weight:bold; margin-bottom:5px;}
#mypage_content .invitation .invitation_icon {margin-right:10px; float:left; width:50px; height:50px; background:url(../images/share_icon.png) no-repeat;text-indent: -999999em; cursor:pointer;}
#mypage_content .invitation .weibo{ background-position:0 0;}
#mypage_content .invitation .renren{ background-position:0 -50px;}
#mypage_content .invitation .qzone{ background-position:0 -100px;}
#mypage_content .invitation .douban{ background-position:0 -150px;}
#mypage_content .invitation .kaixin{ background-position:0 -200px;}
#mypage_content .invitation .weixin{ background-position:0 -250px;}

#mypage_content .invitation #copy_content_container{height: 110px;}


/*个人资料*/
/*选择学校弹出框*/
/*header */
#chooseschoolclose{
    /*z-index: 104;
    text-indent: -9999px;*/
    margin: 7px 8px 8px 0;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/close.png) no-repeat;
    cursor: pointer;
}
#chooseschoolMain h3{
   /* position: absolute;top:0;left:0;*/
    text-indent: 1.2em;
    height: 36px;line-height: 36px;
    width: 100%;background-color: #128d56;color: white;text-align: left;}

.chooseshoolContent{
    padding: 10px;
}
.modal-school .province_select{
    text-align: left;
    padding: 10px 0;
    color: #636363;font-size:12px;
}
.modal-school .school_list{background: #F7F7F7; height: 240px; padding: 7px 0 10px; overflow-y: auto;}
.modal-school .school_list ul{min-height:240px; height: auto; padding-left: 10px; line-height:22px;text-align: left;}
.modal-school .school_list ul li{cursor: pointer;display: inline-block;float: left;overflow: hidden;width: 220px; font-size:12px;}
.modal-school .school_list ul li .square {background-color: #333;display: inline-block;font-size: 0;height: 3px;margin-right: 8px;vertical-align: middle;width: 3px;}
#chooseschoolMain{
    width: 712px; height: 358px;
    margin: 200px auto;
    z-index: 10000;
    background-color: #FFF;}



.mypage_content_inner input{ padding-left: 10px;}