#topNoticeBar {
	height: 16px;
	width: 100%;
	background-color: burlywood;
	margin-top: -15px;
	border-bottom: 1px rgb(181, 176, 45) solid;
	text-align: center;
	display:none;
}

.account dd.wrong {
	background: none;
}

#bookingSummary .no_data{
	margin-top: 0px;
}

.search_result {
	min-height:431px;
}

.noMessage {
	padding-top: 20px;
}

#walletSummary span{
	margin-right: 9px;
}

li a, .page a {
	cursor:pointer;
}

#topbar_loginbox {
	z-index: 100;
}

#registerVeriCode_wrong {
	margin-left: 132px;
}

.get_password #authCode {
	width:100px;
}

#popMessage {
	height: 65px;
}

#mainMap {
	z-index: 100;
	background-color: #eee;
}

.footer {
	z-index: -1;
}

#cancelBooking {
	margin-top:20px;
}

#printBooking {
	width: 49px;
	float: right;
	position: relative !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}