#topNoticeBar {
	height: 16px;
	width: 100%;
	background-color: burlywood;
	margin-top: -15px;
	border-bottom: 1px rgb(181, 176, 45) solid;
	text-align: center;
	display:none;
}

.account dd.wrong {
	background: none;
}

#bookingSummary .no_data{
	margin-top: 0px;
}

.search_result {
	min-height:431px;
}

.noMessage {
	/*padding-top: 20px;*/
}

#walletSummary span{
	margin-right: 4px;
}

li a, .page a {
	cursor:pointer;
}

#topbar_loginbox {
	z-index: 100;
}

#registerVeriCode_wrong {
	margin-left: 132px;
}

.get_password #authCode {
	width:100px;
}
#popup {
	position: fixed;
}

#mainMap {
	z-index: 100;
	background-color: #eee;
}

.footer {
	z-index: -1;
}

#cancelBooking {
	margin-top:20px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.mypage_sidebar_title {
	cursor: pointer;
}


.course_content .teacherInfo {
	margin-bottom: 10px;
	
}

.course_content dd label {
	float:left;
}

.courseDetail .courseMain .course_content dt {
	float:left;
	width: 100%;
}

.link {
	cursor: pointer;
}

.teacherInfo .name {
	float: left;
	width: 200px;
}

.compare_button {
	cursor: pointer;
}

#siteMap span {
	cursor: pointer;
}

.courseDetail .bottom {
	margin-top: 5px;
}

#booking_loginnote{
	margin-left: 128px;
}

#booking_date {
	margin-right: 8px;
}

#copy_content:hover {
	background-color:#dddddd;
}

#copy_content {
	overflow: hidden;
	resize:none;
}
/*all element hover state*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #128d56;
    background: #ACD7C4;
    font-weight: normal;
    color: #128d56;}
/*override jquery ui date picker style*/
.ui-datepicker{
    color:#128D56;
    border-color: #128D56;}
    .ui-datepicker .ui-datepicker-header{
        color: #128d56;
        border: none;
        border-bottom: 2px solid #128d56;
        border-radius: 0;
        background: none;}
    .ui-datepicker.ui-datepicker-calendar .ui-state-default{
        color: #128d56;
        background: none;}
    .ui-datepicker .ui-datepicker-calendar .ui-state-active{
        color: #ffffff;
        border-color: #128d56;
        background: #128d56;}

#search_category {
	border-bottom: 1px solid #cccccc !important;
	margin-top: -4px;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	padding-left: 20px !important;
}
