@charset "utf-8";
/* CSS Document */

/*筛选框*/
#searchPanel{ border:1px solid #cccccc;}

#searchPanel .filter_content{ padding:10px 15px; font-size:12px; color:#333333;}

#searchPanel .filterCriteria{padding:12px 0; border-bottom:1px dotted #ccc;}
#searchPanel #priceFilter {border:none;}

#searchPanel .filterCriteria label{ font-weight:bold; color:#666666;}
#searchPanel .filterCriteria label s{margin:0 13px;}

#searchPanel .filterCriteria span{ padding:3px 8px; cursor:pointer; display:inline-block;}
#searchPanel .filterCriteria span.active{ background:#128d56; color:#fff;}

#searchPanel #filter_subCategory p{ margin:10px 0 0 68px; border:1px solid #ccc; padding:10px; background: none repeat scroll 0% 0% #E7F3EE;}
#searchPanel #filter_subCategory p span{padding:3px 8px;}

/*搜索结果*/
#searchReqs{ line-height:30px; font-size:14px;}/*搜素条件*/
#searchReqs a{padding:4px 20px 4px 5px; margin-left:10px; border:1px solid #88c6aa; color:#88c6aa;  font-size:12px; background:url(../images/close1.png) no-repeat right top;}
#searchReqs a:hover{ border:1px solid #128d56; color:#128d56; background:url(../images/close2.png) no-repeat right top; text-decoration:none;}

.search_result #searchResultSorter{border:1px solid #dddddd; border-top:2px solid #128d56; background:#eeeeee;}/*选择显示方式*/
.search_result .sorter{float:left; height:35px; line-height:36px; margin-left:15px; color:#333; font-size:14px;}
.search_result .sorter li{float:left; padding:0 25px; text-align:center; cursor: pointer; width: 70px;}
.search_result .sorter li.active{ background:url(../images/active.png) no-repeat center; color:#fff;}
.search_result .sorter li.line{width:1px; height:12px; padding:0; background:#ccc; margin:10px 8px 0;}
.search_result #searchResultSorter .fright{ margin:7px 15px 0 0; color:#666; font-size:12px;}
.search_result #searchResultSorter .fright input{ vertical-align:-2px;}

.search_result .no_data{ margin-top:100px; margin-left:140px; padding-left:60px; background:url(../images/no_data.png) no-repeat left center;}
.search_result .no_data div{ padding:12px 0 12px; font-size:24px;color:#128d56;}
.search_result .searchResultEntry{ margin-top:10px; border:1px solid #dddddd; min-height:105px; padding:15px 0 15px 15px; font-size:12px;}
.search_result .pic{position:relative; float:left; width:100px; height:100px; border:1px solid #ccc; margin-right:10px;}
.search_result .pic span{ display:block; position:absolute; top:78px; left:0; width:100%; text-align:center; color:#fff; height:22px; line-height:22px; background-color:rgba(0,0,0,.5); filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#77000000',endColorstr='#77000000');}

.search_result .col1{float:left; width:325px; padding-right:5px; line-height:24px; border-right:1px solid #cccccc;}
.search_result .col1 .title{font-size:14px; font-weight:bold; margin-bottom:7px;}
.search_result .col1 .desc{width: 325px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.search_result .col1 .desc s{margin:0 12px;}

.search_result .col2{float:left; position:relative; width:128px; height:105px; text-align:center; border-right:1px solid #eee; font-size:14px;}
.search_result .col2 .price{font-size:24px; color:#ff5500;}
.search_result .col2 .price .sign{font-size:14px; color:#333333;}
.search_result .col2 .cashback{margin-top:5px;}
.search_result .col2 .original_cost{ font-size:12px;margin-top: 2px;}
.search_result .col2 .original_cost span{ text-decoration:line-through; }

.search_result .col3{float:left; width:140px; height:105px; text-align:center;}
.search_result .col3  input.btn_g,
.search_result .col3  input.btn_o,
.search_result .col3  input.btn_gray{width:100px;}

.search_result .col3 .viewDetail{ margin-top:20px; font-weight:bold; color:#128d56;}

/*对比框*/
#CompareWidgetContainer{border:1px solid #cccccc;border-top:2px solid #128d56; }
#CompareWidgetContainer .compareTitle{ height:35px; line-height:35px; color:#128d56; padding-left:15px; font-weight:bold; font-size:14px; background:#eeeeee; border-bottom:1px solid #cccccc;}
#CompareWidgetContainer #compareItems{}
#CompareWidgetContainer .compareEntry{ position:relative; padding:15px 35px 10px 10px; border-bottom:1px dotted #ccc; font-size:12px;}
#CompareWidgetContainer .compareEntry:hover{background:#e2ece7;}
#CompareWidgetContainer .compareEntry .desc a,.compareEntry .desc a:visited{ color:#128d56;}
#CompareWidgetContainer .compareEntry .price{ padding-left:5px; margin-top:10px; color:#ff5500;}
#CompareWidgetContainer .compareEntry .price .sign{color:#333333;}
#CompareWidgetContainer .compareEntry .remove{ position:absolute; right:10px; top:15px; width:20px; height:20px; background:url(../images/close3.png) no-repeat; cursor:pointer;}
#CompareWidgetContainer .compareEntry .remove:hover{ background:url(../images/close3_hover.png) no-repeat;}
#CompareWidgetContainer .btns{ text-align:center; margin:10px auto;}
#CompareWidgetContainer #compare{width:215px; height:32px; border:none; font-size:14px; color:#fff; cursor:pointer; background:url(../images/compare.png) no-repeat;}

/*百度地图自定义图标*/
#mainMap{ position:relative; border:1px solid #ccc; width:248px; height:338px; z-index:9999;}
#mainMap .map_icon{ position:absolute; cursor:pointer; z-index:999999}
#mainMap .map_icon:hover{z-index:1000000}
#mainMap .map_icon span{display:inline-block; height:30px; padding-left:28px; height:30px; line-height:24px; background:url(../images/map_icon.png) no-repeat 0 -31px;font-size:12px; color:#ea5514;}
#mainMap .map_icon em{ display:inline-block; position:relative; top:6px; width:10px; height:20px; background:url(../images/map_icon.png) no-repeat -191px -33px;}
#mainMap .map_icon:hover span{display:inline-block; height:30px; padding-left:28px; height:30px; line-height:24px; background:url(../images/map_icon.png) no-repeat 0 0;font-size:12px;color:#15ae67;}
#mainMap .map_icon:hover em{ display:inline-block; position:relative; top:6px; width:10px; height:20px; background:url(../images/map_icon.png) no-repeat -191px -2px;}

#searchWidgets.stickyHeader{position:fixed;top:5px;margin-left:750px;}
#searchWidgets.stickyHeader #compare {margin-left:-1px;}
#search_subCategory label {margin-right: 3px;}