@charset "utf-8";
/* CSS Document */

.topBar{ height:75px; background:url(../images/top_bar_bg.png) repeat-x;}
.topBar .topBar-inner{width:1200px; margin:0 auto;background:url(../images/top_bar_bg.png) repeat-x;}

#logo{float:left; width:155px; height:75px; background:url(../images/logo.png) no-repeat; text-indent:-9999px;}
.topBar-navigation{float:left; height:60px; margin-left:20px; line-height:60px; color:#fff; font-size:18px;}
.topBar-navigation li{float:left; padding:0 20px; margin-left:1px; cursor:pointer;}
.topBar-navigation li:hover{ background:#404652;}
.topBar-navigation li.active{ background:#404652;}
.topBar-navigation li a{ color: white}
/*tel应没有hover变化*/
.tel{float:right; margin-right:50px; margin-top:15px;}
#navigate_tel:hover{background:none;}

.login_reg span{display:inline-block; width:1px; height:14px; background:#fff; color:#fff}
.user_info{float:right; font-size:14px; line-height:60px; color:#fff;}

.user_info a,.user_info a:visited,.login_reg a,.login_reg a:visited{
    color:#cccccc; margin:0 8px;
}
.login_reg a,.user_info a{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.login_reg .hd a:hover,.user_info a:hover{
    color: #ffffff;
}



.login_reg{float:right; position:relative;}
.login_reg .hd{ font-size:18px; line-height:60px; }
.login_reg .bd { position:absolute; top:69px; left:-141px; width:262px; background:#f8f8f8; border:1px  solid #ccc; -index:99; }
.login_reg .bd ul { padding:20px; }
.checkbox {
    height:20px;
    line-height:20px;
    padding-left:30px;
    background:url(../images/checkbox.png) no-repeat 0 0;
    cursor:pointer;}
    .checkbox.checked { background-position:0 -20px; }
.login_reg .bd ul li { margin-bottom:10px; }
.login_reg .wrong { text-align:left; line-height:26px; padding-left:20px; background:url(../images/icon_wrong.png) no-repeat 0 -22px; font-size:12px; }
.login_reg .bd ul li input.text { width:210px; height:38px; line-height:38px\9; border:1px solid #cccccc; padding-left:10px; color:#333; }
.login_reg .bd ul li .checkbox { float:left; }
.login_reg .forget_password,.login_reg .forget_password:visited{float:right; color:#128d56;}
.btn_topnav_login { width:220px; height:40px; background:url(../images/login_btn.png) no-repeat; border:none;font-size:16px; color:#fff; cursor:pointer; }