


/*团购 Banner*/
#tuanBanner{ width: 1000px; height: 320px; border: 1px solid #CCC; margin-bottom: 30px; position: relative;}
#tuanBanner .pic{width: 700px; height: 320px; display: block; float: left;}
#tuanBanner .pic .pics img{width: 700px; height: 320px; display: none;}
#tuanBanner .pic .active img{width: 700px; height: 320px; display: block;}
#tuanBanner .tips{width: 300px; height: 80px; float: right; position: absolute; right: 0;}
#tuanBanner .tips_li{
    width: 300px; height: 80px;
    background-color: #e9e9e9;
    cursor: pointer;
    float: right;
    position: relative;
}
#tuanBanner .tips_li.active{
    background-color: #399D70;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    left: 16px;
}
#tuanBanner .tips_li.active:before,#tuanBanner .tips_li.active:after{
    display: block;
    content: ' ';
    position: absolute;
    width: 16px;
    height: 9px;
    bottom: -9px;
}
#tuanBanner .tips_li.active:before{
    left: 0;
    background: url("../images/tuan_active_left.png") no-repeat;
}
#tuanBanner .tips_li.active:after{
    right: 0;
    background: url("../images/tuan_active_right.png") no-repeat;
}

#tuanPage h1{
    border-bottom: 1px solid #B6D9CA;
    padding-bottom: 5px;
    font-size: 24px;
    color: #1D8C58;
}
#tuanPage .t-item{
    position: relative;
    height: 250px;
    margin-top: 30px;
    padding-left: 450px;
    border: 1px solid #CFCFCF;
}
/*团购item的左上方的折扣信息*/
.t-item .tuan_tag{
    position: absolute;
    left:-30px; top: -30px;
    display: block;
    width: 90px; height: 90px;
    line-height: 90px;
    color: #ffffff; font-size: 24px;
    text-align: center;
    z-index: 1;
    background: url("../images/tuan_item_tag.png");
}
/**/
.t-item .line{
    display: block;
    border:1px solid #E8E8E8;
    margin: 5px 0;
}
/*团购item的大图*/
.t-item img.banner{
    position: absolute;
    left: 0;top: 0;
    width: 450px; height: 250px;
}
/*团购item右侧内容*/
.t-item .content{padding: 0 8px 0 16px;}
.t-item .content .r{
    width: 250px;
    height: 64px;
    padding: 5px 0;
}
/*团购item右侧内容的3行内容*/
.t-item .content .r.r1{}
.t-item .content .r.r2{}
.t-item .content .r.r3{}
/*第1行中的标题*/
.t-item .content .r.r1 .title{font-size: 20px}
/*第1和2行中的p*/
.t-item .content .r.r1 p,
.t-item .content .r.r2 p{
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*第3行中的价格和抢购按钮 r3需要clearfix*/
.t-item .content .r.r3 .r-left{ float: left; width: 120px;}
.t-item .content .r.r3 .r-right{ float: right; width: 130px;}
.t-item .content .r.r3 .price{font-size: 32px;color: #FC6B6D;}
.t-item .content .r.r3 .btn{height: 40px; line-height: 40px;font-size: 18px}



/*团购 Result*/
#tuanResult{ width: 1000px; height: 900px; border: 1px solid #CCC; margin-bottom: 30px;}



/*团购 Footer*/
#tuanFooter{ width: 1000px; height: 100px; border: 1px solid #cfcfcf;}



/*团购detail*/
#tuanDetail{ width: 1000px; height: auto; min-height: 800px;}
#tuanDetail .banner{ width: 1000px; height: 400px; border: 1px solid #CCC;}
#tuanDetail .pic{ width: 450px; height: 400px; float: left;}
#tuanDetail .pic .pic_big{ width: 400px; height: 300px; margin: auto;}
#tuanDetail .pic .pic_big a{ width: 400px; height: 300px; display: none;}
#tuanDetail .pic .pic_big img{ width: 400px; height: 300px;}
#tuanDetail .pic .pic_big .active{ display: block;}
#tuanDetail .pic .pic_list{ width: 450px; height: 80px; margin-top: 20px;}
#tuanDetail .pic .pic_list a{
    width: 100px; height: 80px;
    display: block;
    margin-left: 25px;
    float: left;
    position: relative;
}
#tuanDetail .pic .pic_list img{ width: 100px; height: 80px;}
#tuanDetail .pic .pic_list .active{
    width: 100px; height: 80px;
    position: absolute; z-index: 1;
    background-color: rgba(255,255,255,0.8)
}