/*团购detail*/
.panel_bg {
    background-color: #FFF;
}

#tuanDetail {
    width: 1000px;
    height: auto;
    min-height: 800px;
}

/*banner*/
.detailArea .banner {
    width: 945px;
    padding: 25px 27px 25px 28px;
    height: 390px;
    margin-top: 15px;
}

/*pic*/
.detailArea .pic {
    width: 460px;
    height: 392px;
    float: left;
}

/*大图*/
.detailArea .pic_big {
    width: 460px;
    height: 322px;
}

.detailArea .pic_big a {
    width: 460px;
    height: 322px;
    display: none;
}

.detailArea .pic_big img {
    width: 460px;
    height: 322px;
}

.detailArea .pic_big .active {
    display: block;
}

/*小图*/
.detailArea .pic_list {
    width: 460px;
    height: 60px;
    margin-top: 10px;
}

.detailArea .pic_list a {
    width: 98px;
    height: 60px;
    display: block;
    margin-right: 12px;
    float: left;
    position: relative;
}

.detailArea .pic_list img {
    width: 98px;
    height: 60px;
}

.detailArea .pic_list .active {
    width: 98px;
    height: 60px;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8)
}

/*row*/
.detailArea .row {
    width: 468px;
    height: 322px;
    float: right;
    padding: 0;
}

.detailArea .row .price {
    padding-left: 10px;
    width: 458px;
    height: 80px;
    background-color: #128d56;
    color: #fff;
    line-height: 80px;
    font-size: 16px;
}

.detailArea .small_title {
    height: 40px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.detailArea .small_title h3 {
    float: left;
    line-height: 30px;
    font-weight: normal;
}

.detailArea .small_title input {
    width: 100px;
    height: 35px;
    float: right;
    margin-left: 10px;
}

.detailArea .row .price span {
    margin-right: 20px;
    display: inline-block;
}

.detailArea .row .price span s {
    text-decoration: line-through;
}

.detailArea .row .price strong {
    font-size: 28px;
}

.detailArea .row h2 {
    padding-left: 0;
    color: #128d56;
    margin-bottom: 10px;
    text-align: left;
}

.detailArea .row .icon {
    height: 17px;
    padding: 27px 0 13px 0;
    width: 100%;
    background-image: url("");
}

#starDemo {
    float: left;
}

.detailArea .row .icon a {
    float: left;
    color: #C69F5E;
    line-height: 20px;
    margin-left: 10px;
}

.detailArea .row .icon span {
    line-height: 20px;
    float: left;
    padding: 0 10px;
}

.detailArea .row .icon i {
    font-style: normal
}

.detailArea .row .span {
    line-height: 40px;
    font-size: 14px;
    text-align: left;
    display: block;
}


.detailArea .btns {
    padding: 0;
    width: 468px;
    margin-top: 18px;
}

.detailArea .btns a {
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}


.detailArea .btnbuy {
    width: 260px;
    background-color: #FF6A6A;
    float: left;
}


.detailArea .btnconsult {
    width: 198px;
    background-color: #47BC78;
    float: right;
}

/*detailMain,下方主要内容*/
.detailMain {
    width: 1000px;
    height: auto;
    min-height: 800px;
    margin-top: 15px;
    position: relative;
}

.detailMain a {
    color: #128d56;
}

/*fleft*/

.detailMain .tuan_sorterArea {
    width: 748px;
    padding-bottom: 5px;
    float: left;
    background-color: #f1f1f1;
    z-index: 999;
}

.detailMain .tuan_sorterArea.stickyHeader{
    position: fixed;
    padding-top: 5px;
    top: 0;
    z-index: 100;
    -webkit-transform: translateZ(0);
}


.detailArea .w_730 {
    width: 710px;
    padding: 10px;
}

.detailMain .tuan_sorter {
    width: 740px;
    height: 52px;
    line-height: 52px;
}

.detailMain .tuan_sorter li a {
    display: block;
    width: 177px;
    height: 52px;
    margin-right: 7px;
    background-color: #fff;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.detailMain .tuan_sorter a.active {
    background-color: #28B094;
    color: #fff;
}

.detailMain .tuan_sorter_bottom {
    width: 730px;
    height: 2px;
    background-color: #28B094;
    display: block;
}

.tuan_content dl {
    width: 710px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.tuan_content dd {
    width: 680px;
    margin-left: 20px;
    line-height: 30px;
    height: auto;
}

.tuan_content dt {
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.tuan_content .tuan_content_1 dd {
    height: auto;
    line-height: 40px;
}
.tuan_content .tuan_content_2 dd label,
.tuan_content .tuan_content_1 dd label {
    line-height: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.tuan_content .tuan_content_2 dd .span,
.tuan_content .tuan_content_1 dd .span {
    width: 580px;
    float: left;
    padding: 5px 0;
    line-height: 30px;
}
.tuan_content .tuan_content_2 dd .teacherInfor{
    width: 110px;
    margin: 10px 30px 10px 0;
    float: left;
}
.tuan_content .tuan_content_2 dd .teacherInfor span{
    display: block;
    width: 110px;
    height: 30px;
    padding-top: 5px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    color: #434343;
}
.tuan_content .tuan_content_2 dd a {
    width: 110px;
    height: 70px;
    /*border-radius: 70px;*/
    display: block;
    padding-top: 40px;
    position: relative;
    background-image: url("");
    background-size: 100% 100%;
}

.tuan_content .tuan_content_2 dd .teacherInfor a span {
    width: 110px;
    height: 30px;
    display: none;
    border-radius: 70px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;

}
.tuan_content .tuan_content_2 dd .teacherInfor a span:hover{
    text-decoration: underline;
}

.tuan_content .tuan_content_3 dd a {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #E9E9E9;
    display: block;
    float: left;
    overflow: hidden;
}

.tuan_content .tuan_content_3 .serviceli {
    width: 120px;
    height: 160px;
    float: left;
    margin: 10px 10px 10px 0;
}

.tuan_content .tuan_content_3 .serviceli img{ width: 120px; height: 120px;}

.tuan_content_3 .serviceli span {
    width: 120px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #434343;
    font-size: 16px;
    float: left;
}

.tuan_content .warm_tip {
    width: 640px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fffdf5;
    float: left;
}

.tuan_content .warm_tip p {
    display: block;
    width: 600px;
    height: 15px;
    float: left;
}

.tuan_content .warm_tip span {
    width: 640px;
    float: left;
    display: block;
}

.detailArea .dticon {
    width: 9px;
    height: 13px;
    display: block;
    background-image: url("../images/dtIcon.jpg");
    float: left;
    margin: 8px 10px 0 2px;
}

.detailArea .warmicon {
    width: 18px;
    height: 18px;
    display: block;
    background-image: url("../images/warmIcon.png");
    float: left;
    margin: 5px 4px 0 2px;
}

/*evaluate评价*/
.tuan_content dt span {
    font-size: 12px;
    padding-left: 20px;
    font-weight: normal;
    text-decoration: underline;
    color: #45B39C;
    cursor: pointer;
}

.tuan_content .evaluate {
    width: 680px;
    height: 200px;
}

.tuan_content .evaluate .title {
    font-size: 14px;
    padding-left: 20px;
    color: #656565;
}

.tuan_content .evaluate .eleft {
    width: 300px;
    height: 140px;
    float: left;
    margin-left: 20px;
    padding: 10px 0 0 0;
}

.tuan_content .eleft .score {
    font-size: 36px;
    color: #ff6a6a;
    height: 40px;
}

#star_eleft {
    height: 30px;
}

#star_eleft img {
    width: 20px;
    height: 20px;
}

.tuan_content .eleft li {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.tuan_content .evaluate .emid {
    width: 1px;
    height: 70px;
    margin-top: 30px;
    background-color: #c3c3c3;
    float: left;
}

.tuan_content .evaluate .eright {
    width: 350px;
    height: 130px;
    float: left;
    padding: 10px 0 0 0;
}

.tuan_content .evaluate .eright img {
    width: 24px;
    height: 24px;
}

.tuan_content .eright li {
    width: 260px;
    height: 40px;
    line-height: 24px;
    margin: auto;
}

.tuan_content .eright span {
    width: 40px;
    height: 24px;
    line-height: 24px;
    display: block;
    float: left;
    margin-right: 10px;
}

.tuan_content .eright .eright_star {
    width: 140px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 20px;
}

.tuan_content .eright a {
    width: 30px;
    height: 24px;
    line-height: 24px;
    display: block;
    float: left;
    color: #ff7200;
    font-weight: bold;
}

.tuan_content .impresson {
    width: 680px;
    min-height: 30px;
    height: auto;
    background-color: #f1f1f1;
}

.tuan_content .impresson .title {
    padding: 8px;
}

.tuan_content .impresson label {
    line-height: 13px;
}

.tuan_content .impresson .impressonLi {
    height: 25px;
    padding: 8px;
}

.tuan_content .impresson .impressonLi label {
    line-height: 25px;
    float: left;
    padding-left: 4px;
}

.tuan_content .impresson .impressonLi a {
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    margin-left: 10px;
    background-color: #45B39C;
    float: left;
    color: #fff;
}

.tuan_content .evaluateList li {
    padding: 15px 0;
    line-height: 25px;
    border-bottom: 1px dashed #c3c3c3;
}

.tuan_content .evaluateList li .satr_user {
    float: left;
    width: 100px;
    height: 20px;
    display: block;
}

.tuan_content .evaluateList li .satr_user img {
    width: 14px;
    height: 14px;
}

.tuan_content .evaluateList li span {
    height: 22px;
    display: block;
    float: left;
    line-height: 22px;
    font-size: 12px;
    color: #999999;
}

.tuan_content .evaluateList li span.time {
    float: right;
}

.tuan_content .evaluateList li label {
    line-height: 25px;
    font-size: 12px;
    color: #000;
}

.tuan_content .evaluateList .more {
    text-align: center;
    line-height: 80px;
    text-decoration: underline;
    cursor: pointer;
}

.tuan_content .txt {
    width: 660px;
    height: 170px;
    padding: 0 10px;
    border: 1px solid #c3c3c3;
}

.tuan_content .txt textarea {
    width: 660px;
    height: 100px;
    border: 0;
    outline: 0;
    padding: 10px 0;
    line-height: 20px;
    border-bottom: 1px solid #c3c3c3;
}

.tuan_content a.btnadd {
    width: 190px;
    height: 48px;
    background-color: #47BC78;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    display: block;
    float: right;
    margin: 20px 0;
}

/*星级评价*/
.tuan_content .star {
    width: 660px;
    height: 16px;
    line-height: 16px;
    margin-top: 10px;
}

.tuan_content .star span {
    display: block;
    width: 50px;
    height: 16px;
    line-height: 16px;
    float: left;
    color: #000;
}

.tuan_content .star li {
    height: 16px;
    width: 160px;
    display: block;
    margin-left: 40px;
    float: left;
}

.tuan_content .star li span {
    display: block;
    width: 40px;
    height: 16px;
    line-height: 16px;
    float: left;
    color: #333;
}

.tuan_content .star_sytle {
    display: block;
    width: 100px;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    float: left;
}

/*fright*/
#tuanDetail .fright h4 {
    color: #072;
    line-height: 30px;
    height: 30px;
    font-weight: normal;
}

/*地图*/
.w_260 .site_map {
    width: 230px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 4px;
}

.w_260 .site_map a {
    width: 230px;
    height: 180px;
    display: block;
    margin-bottom: 10px;
}

.w_260 .site_map a img{
    width: 230px; height: 180px;
}

.w_260 span {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0;
}

.w_260 dl {
    border-top: 1px dashed #ccc;
    padding: 8px 0;
    margin-top: 4px;
}

.w_260 dt {
    font-weight: bold;
    line-height: 22px;
}

.w_260 dd {
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
}

/*一周最热团购*/
#tuanDetail .fright .hot_tuan {
    width: 230px;
    min-height: 200px;
    padding: 10px;
}

#tuanDetail .fright .hot_tuan a {
    width: 230px;
    height: 230px;
    display: block;
}

#tuanDetail .fright .hot_tuan img {
    width: 230px;
    height: 230px;
}

/*下拉时候多出来的按钮*/
.detailArea .fright .tuan_btn {
    width: 250px;
    display: none;
    margin-top: 0;
}

.detailArea .tuan_btn a {
    color: #fff;
    font-size: 18px;
    margin-bottom: 4px;
    text-align: center;
    line-height: 52px;
}

#tuanDetail #tuan_fright .btnbuy {
    width: 150px;
    height: 52px;
    float: left;
}

#tuanDetail #tuan_fright .btnconsult {
    width: 90px;
    height: 52px;
    float: right;
}

.courseDetail #tuan_fright .btnbuy {
    width: 120px;
    height: 52px;
    float: left;
}

.courseDetail #tuan_fright .btnconsult {
    width: 120px;
    height: 52px;
    float: right;
}

#tuan_fright.stickyHeader {
    position: fixed;
    top: 5px;
    margin-left: 750px;
    -webkit-transform: translateZ(0);
}

/*快速登录*/

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1999;
    top: 0;
    -webkit-transform: translateZ(0);
}

#login_fast {
    width: 100%;
    top: 200px;
    position: absolute;
    z-index: 2000;
}

#login_fast .login_Area {
    width: 335px;
    background-color: #fff;
    margin: auto;
}

#login_fast .title {
    width: 335px;
    height: 45px;
    border-bottom: 1px solid #e7e7e7;
}

#login_fast .title li {
    width: 166px;
    height: 45px;
    display: block;
    float: left;
    border-right: 1px solid #e7e7e7;
    cursor: pointer;
}

#login_fast .title li span {
    width: 166px;
    height: 45px;
    display: block;
    line-height: 45px;
    text-align: center;
    color: #929292;
    font-weight: bold;
}

#login_fast .txt_phone, .txt_passed {
    width: 232px;
    height: 25px;
    display: block;
    background-color: #F4F4F4;
    line-height: 25px;
    border: 0;
    outline: 0;
    padding: 10px 0 10px 10px;
    float: left;
}

#login_content .txt_passed {
    padding: 10px 0 10px 10px;
}

#sign_content .txt_passed {
    width: 125px;
    padding: 10px 0 10px 10px;
}

#login_fast .identifying {
    width: 102px;
    height: 45px;
    display: block;
    background-color: #2cb175;
    text-align: center;
    line-height: 45px;
    color: #fff;
    float: right;
    font-size: 13px;
}

#login_fast .content {
    padding-bottom: 20px;
}

#login_fast .content li {
    width: 242px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#login_fast .content li.errorMsg {
    height: auto;
    font-size: 13px;
    margin-top: 10px;
}

#login_fast .check {
    width: 14px;
    height: 14px;
    font-size: 10px;
    display: block;
    float: left;
    margin-left: 4px;
}

#login_fast .remind {
    width: 70px;
    height: 30px;
    display: block;
    float: left;
    font-size: 12px;
    padding-left: 5px;
    color: #b7b7b7;
}

#login_fast .passed {
    width: 80px;
    height: 30px;
    float: right;
    color: #12BD56;
    font-size: 12px;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}

#login_fast .btnIn {
    width: 232px;
    height: 45px;
    background-color: #28B094;
    text-align: center;
    line-height: 45px;
    color: #fff;
    display: block;
    font-weight: bold;
    cursor: pointer;
    margin: -15px auto;
}

#login_fast .title .active {
    background-color: #f4f4f4;
}


/*课程内容里面的表格*/

.tuan_content thead tr td {
    background-color: #79B0A5;
    color: #fff;
}

.tuan_content tbody td button {
    background-color: #FF6A6A;
    border-radius: 17px;
}

.tuan_content tbody td {
    padding: 5px 0;
    height: 44px;

}

.tuan_content tbody td.addr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.overlay_t{
    width: 114px; height: 74px;
    padding-top: 40px;

    margin-top: -40px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    z-index: 2;
    background-image: url("../images/overlay_teacher.png");
}

.overlay_teacher{
    display: none;
    width: 110px;
    height: 110px;
    position: absolute;
    /*border-radius: 56px;*/
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #28B094;
}

.map_info dd{ display: none;}
.map_info:hover dd{display: block;}
.map_info i{ width: 9px; height: 5px; display: block; float: right; margin-top: 5px; background-image: url("../images/map_tip.png")}