/*团购 Banner*/
#tuanBanner {
    width: 1000px;
    /*height: 318px;*/
    height: 320px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #CFCFCF;
}

#tuanBanner .pic {
    width: 700px;
    display: block;
    float: left;
}

#tuanBanner .pic .pics img {
    /*margin-left: -1px;*/
    /*margin-top: -1px;*/
    width: 700px;
    height: 320px;
    display: none;
}

#tuanBanner .pic .active img {
    display: block;
}

#tuanBanner .tips {
    width: 300px;
    float: right;
    position: absolute;
    right: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

#tuanBanner .tips_li {
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    cursor: pointer;
    float: right;
    position: relative;
    /*border box*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

#tuanBanner .tips_li + .tips_li {
    border-top: 1px solid #CFCFCF;
}

#tuanBanner .tips_li .c-left {
    float: left;
    width: 186px;
    line-height: 80px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tuanBanner .tips_li .c-right {
    text-align: right;
    width: 94px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

#tuanBanner .tips_li .price {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    color: #FC6B6D;
}

/*hover激活状态时的样式 文字字体以及背景色 位置*/
#tuanBanner .tips_li.active a,
#tuanBanner .tips_li.active .price {
    color: #ffffff;
}
#tuanBanner .tips_li.active {
    border-color: transparent;
    background-color: #399D70;
    color: #ffffff;
    /*padding增大宽度32px 左超出32px 则设置左间距16px使其居中*/
    padding-left: 16px;
    padding-right: 16px;
    left: 16px;
    width: 332px;
}

/*hover激活状态下的图标设置 使用伪元素设置*/
#tuanBanner .tips_li.active:before,
#tuanBanner .tips_li.active:after {
    display: block;
    content: ' ';
    position: absolute;
    width: 16px;
    height: 9px;

    top: auto;
    bottom: -9px;
}

/*最后一个元素效果设为向上折叠*/
/*todo 未兼容IE 8*/
#tuanBanner .tips_li:last-child.active:before,
#tuanBanner .tips_li:last-child.active:after {
    top: -9px;
    bottom: auto;
}

/*激活状态左图标和右图标*/
#tuanBanner .tips_li.active:before {
    left: 0;
    background: url("../images/tuan_active_left.png") no-repeat;
}

#tuanBanner .tips_li.active:after {
    right: 0;
    background: url("../images/tuan_active_right.png") no-repeat;
}

/*激活状态下最后一个元素的左图标和右图标*/
#tuanBanner .tips_li:last-child.active:before {
    left: 0;
    background: url("../images/tuan_active_left_last.png") no-repeat;
}

#tuanBanner .tips_li:last-child.active:after {
    right: 0;
    background: url("../images/tuan_active_right_last.png") no-repeat;
}

/*主体内容 730&250*/

#tuanPage .w_730,
#tuanPage .w_250 {
    padding-top: 30px;
}

#tuanPage h1 {
    border-bottom: 1px solid #B6D9CA;
    padding-bottom: 5px;
    font-size: 24px;
    color: #1D8C58;
}

/*分割线*/
.underline {
    display: block;
    border-bottom: 1px solid #E8E8E8;
    margin: 5px 0;
}

#tuanPage .t-item {
    position: relative;
    height: 244px;
    margin-bottom: 30px;
    padding-left: 386px;
    border: 1px solid #CFCFCF;
}

/*团购item的左上方的折扣信息*/
.t-item .tuan_tag {
    position: absolute;
    left: -25px;
    top: -25px;
    display: block;
    width: 72px;
    height: 72px;
    line-height: 72px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    background: url("../images/tuan_item_tag.png") center no-repeat;
}

/*团购item的大图*/
.t-item img.banner {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 386px;
    height: 246px;
}

/*团购item右侧内容*/
.t-item .content {
    padding: 0 8px 0 16px;
}

.t-item .content .r {
    width: 100%;
    height: 64px;
    padding: 5px 0;
}

/*团购item右侧内容的3行内容*/
.t-item .content .r.r1 {
}

.t-item .content .r.r2 {
}

.t-item .content .r.r3 {
    padding-top: 10px;
}

/*第1行中的标题*/
.t-item .content .r.r1 .title {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

/*第1和2行中的p*/
.t-item .content .r.r1 p,
.t-item .content .r.r2 p {
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*第3行中的价格和抢购按钮 r3需要clearfix*/
.t-item .content .r.r3 .c-left {
    float: left;
    width: 40%;
}

.t-item .content .r.r3 .c-right {
    float: right;
    width: 60%;
    text-align: center;
}

.t-item .content .r.r3 .price {
    font-family: Arial;
    font-size: 30px;
    color: #FC6B6D;
    font-weight: bold;
}

.t-item .content .r.r3 .btn {
    font-size: 18px
}

/*右侧内容 筛选条件和广告图片*/
.labels {
    margin-bottom: 10px
}

.labels span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 2px 7px;
    margin: 5px 0;
    cursor: pointer;

}

.labels span.active {
    border-radius: 10px;
    color: #ffffff;
    background: #4CBB7A;
}

/*团购 Result*/
#tuanResult {
    width: 1000px;
    border: 1px solid #CCC;
    margin-bottom: 30px;
}

/*团购 Footer*/
#tuanFooter {
    width: 1000px;
    height: 100px;
}