


/*团购 Banner*/
#tuanBanner{
    width: 1000px; height: 320px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #CFCFCF;
}
#tuanBanner .pic{width: 700px; height: 320px; display: block; float: left;}
#tuanBanner .pic .pics img{width: 700px; height: 320px; display: none;}
#tuanBanner .pic .active img{width: 700px; height: 320px; display: block;}
#tuanBanner .tips{width: 300px; float: right; position: absolute; right: 0;}

#tuanBanner .tips_li{
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    cursor: pointer;
    float: right;
    position: relative;
}
#tuanBanner .tips_li + .tips_li{
    border-bottom: 1px solid #CFCFCF;
}
#tuanBanner .tips_li .c-left{
    width:160px;
    line-height: 80px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-left: 10px;
}
#tuanBanner .tips_li .c-right{
    text-align: right;
    width:120px;float: right;
    padding-top: 10px;
    padding-right: 10px;
}

#tuanBanner .tips_li .price{font-size: 30px;color: #FC6B6D;}

#tuanBanner .tips_li.active .price{
    color: #ffffff;
}
#tuanBanner .tips_li.active{
    background-color: #399D70;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    left: 16px;
}
#tuanBanner .tips_li.active:before,
#tuanBanner .tips_li.active:after{
    display: block;
    content: ' ';
    position: absolute;
    width: 16px;
    height: 9px;
    bottom: -9px;
}
/*todo 未兼容IE 8*/
#tuanBanner .tips_li:last-child.active:before,
#tuanBanner .tips_li:last-child.active:after{
    top:-9px;
}
#tuanBanner .tips_li.active:before{
    left: 0;
    background: url("../images/tuan_active_left.png") no-repeat;
}
#tuanBanner .tips_li.active:after{
    right: 0;
    background: url("../images/tuan_active_right.png") no-repeat;
}
#tuanBanner .tips_li:last-child.active:before{
    left: 0;
    background: url("../images/tuan_active_left_last.png") no-repeat;
}
#tuanBanner .tips_li:last-child.active:after{
    right: 0;
    background: url("../images/tuan_active_right_last.png") no-repeat;
}

/*主体内容 730&250*/

#tuanPage .w_730,
#tuanPage .w_250{
    padding-top: 30px;
}
#tuanPage h1{
    border-bottom: 1px solid #B6D9CA;
    padding-bottom: 5px;
    font-size: 24px;
    color: #1D8C58;
}
#tuanPage .t-item{
    position: relative;
    height: 250px;
    margin-bottom: 30px;
    padding-left: 450px;
    border: 1px solid #CFCFCF;
}
/*团购item的左上方的折扣信息*/
.t-item .tuan_tag{
    position: absolute;
    left:-30px; top: -30px;
    display: block;
    width: 90px; height: 90px;
    line-height: 90px;
    color: #ffffff; font-size: 24px;
    text-align: center;
    z-index: 1;
    background: url("../images/tuan_item_tag.png");
}
/*分割线*/
.line{
    display: block;
    border:1px solid #E8E8E8;
    margin: 5px 0;
}
/*团购item的大图*/
.t-item img.banner{
    position: absolute;
    left: 0;top: 0;
    width: 450px; height: 250px;
}
/*团购item右侧内容*/
.t-item .content{padding: 0 8px 0 16px;}
.t-item .content .r{
    width: 255px;
    height: 64px;
    padding: 5px 0;
}
/*团购item右侧内容的3行内容*/
.t-item .content .r.r1{}
.t-item .content .r.r2{}
.t-item .content .r.r3{}
/*第1行中的标题*/
.t-item .content .r.r1 .title{font-size: 20px}
/*第1和2行中的p*/
.t-item .content .r.r1 p,
.t-item .content .r.r2 p{
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*第3行中的价格和抢购按钮 r3需要clearfix*/
.t-item .content .r.r3 .c-left{ float: left; width: 120px;}
.t-item .content .r.r3 .c-right{ float: right; width: 130px;}
.t-item .content .r.r3 .price{font-size: 30px;color: #FC6B6D;}
.t-item .content .r.r3 .btn{height: 40px; line-height: 40px;font-size: 18px}


/*右侧内容 筛选条件和广告图片*/
.labels{margin-bottom: 10px}
.labels span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 2px 8px;
    margin: 5px 2px;
    cursor: pointer;

}
.labels span.active{
    border-radius: 10px;
    color: #ffffff;
    background: #4CBB7A;
}


/*团购 Result*/
#tuanResult{ width: 1000px;border: 1px solid #CCC; margin-bottom: 30px;}



/*团购 Footer*/
#tuanFooter{ width: 1000px; height: 100px; border: 1px solid #cfcfcf;}