要求:
模板原型里可以修改的东西:
增减，修改class
placeholder里的内容可以修改
更改部分tag, 包括div, span, p tag (input等功能相关的tag请不要更改)
增加tag (如果布局需要，可以在原有模板里增加tag)
所有img tag的src需要填充

请不要修改以下内容:
数据功能相关的属性，包括id, data-id, value
所有下拉框使用select/option, 请不要用其他tag代替
请不要破坏已有的结构，不要减少tag

请在提交前做以下测试:
请在所有html文件里导入已有的所有css文件, 避免style的冲突
在上一条件通过的情况下，交换CSS文件的导入顺序，确认风格没有变化
请确认风格被浏览器兼容

若是使用scss制作css文件，请提供scss源文件。
